@if (character) {
    <div class="character-card-wrapper">
        <mat-card class="character-card">
        <mat-card-header class="character-header">
            <div mat-card-avatar class="character-header-image" [ngStyle]="{'background-image': 'url(' + character.image + ')'}"></div>
            <mat-card-title>{{character.name}}</mat-card-title>
            <mat-card-subtitle>{{character.species}}</mat-card-subtitle>
        </mat-card-header>
        <div mat-card-image class="character-image" [ngStyle]="{'background-image': 'url(' + character.image + ')'}"></div>
        <mat-card-content>
            <p>
                Status: {{character.status}}<br>
                Gender: {{character.gender}}<br>
                Origin:  <app-link [link]="['/', locationRouterLink, character.origin.url | extractId]" [text]="character.origin.name"></app-link><br>
                Location: <app-link [link]="['/', locationRouterLink, character.location.url | extractId]" [text]="character.location.name"></app-link>
            </p>
        </mat-card-content>
        </mat-card>
    </div>
}