@if (items$ | async; as items) {

    @for (item of (items ?? []); track item.name) {
        <ng-container 
            *ngTemplateOutlet="itemTemplate; context: { $implicit: item }">
        </ng-container>
    }
    
} @else {
    <p>Loading...</p>
}

@if (totalPagesAndItems$ | async; as totalPagesAndItems) {
    <div class="pagination-controls">
        Page {{ currentPage }} / {{ totalPagesAndItems.totalPages }}<br/>
        <button (click)="onPreviousPage()" [disabled]="currentPage <= 1">Previous</button>
        <button (click)="onNextPage()" [disabled]="currentPage >= totalPagesAndItems.totalPages">Next</button>
    </div>

    <mat-paginator
        [length]="totalPagesAndItems.totalItems"
        [pageSize]="20"
        aria-label="Select page"
        [pageIndex]="currentPage - 1"
        (page)="onPageChange($event)">
    </mat-paginator>
}