<app-loader [waitfor]="items$">
    @if (items$ | async; as items) {
        @for (item of (items ?? []); track trackByFn($index, item)) {
            <ng-container 
                *ngTemplateOutlet="itemTemplate; context: { $implicit: item }">
            </ng-container>
        }
    }
</app-loader>   


@if (totalPagesAndItems$ | async; as totalPagesAndItems) {
    <mat-paginator
        [length]="totalPagesAndItems.totalItems"
        [pageSize]="20"
        aria-label="Select page"
        [pageIndex]="currentPage - 1"
        (page)="onPageChange($event)">
    </mat-paginator>
}