.title {
  font-size: 32px;
  font-family: 'Get Schwifty', sans-serif;
  color: var(--rick-black);
  text-shadow: 4px 4px 0px var(--morty-lime);
  margin-bottom: 16px;
  border-bottom: 4px solid var(--morty-lime);
}
