.toolbar {
  background-color: black;
  color: white;
  max-width: 100vw;
  overflow: hidden;
}

a.toolbar-logo {
  color: white;
  text-decoration: none;
}

.toolbar-portal {
  position: absolute;
  z-index: 5;
  left: 21px;
}

.toolbar-logo {
  position: relative;
  font-size: 24px;
  z-index: 10;
  text-shadow:
    4px 4px 0px black,
    1px 1px 0px black,
    2px 2px 0px black,
    3px 3px 0px black;
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbar-icon {
  background-color: var(--rick-teal);
  color: var(--morty-lime);
  box-shadow: 4px 4px 0 transparent
}

.toolbar-icon:hover {
  box-shadow: 4px 4px 0 var(--morty-lime)
}

.active-icon {
  background-color: var(--morty-coral);
  color: var(--morty-white);
  box-shadow: 4px 4px 0 var(--morty-lime);
}

a,  {
  font-family: 'Get Schwifty', sans-serif;
  font-size: 16px;
}


a {
  padding: 2px 12px;
}

a, a:hover, a:active {
  text-decoration: none;
}


@media (max-width: 600px) {
  a {
    font-size: 12px;
    padding: 2px 2px;
  }
  .toolbar-logo, .toolbar-portal {
    display: none;
  }
  .toolbar {
    padding-left: 0;
    margin:0;
  }
}

