
<app-search searchParameter="name" [pagesFacade]="episodesPagesFacade" searchName="episode name"></app-search>
<app-search searchParameter="name" [pagesFacade]="locationsPagesFacade" searchName="location name"></app-search>
<app-search searchParameter="dimension" [pagesFacade]="locationsPagesFacade" searchName="location dimension"></app-search>

<button (click)="previousCharacter()">Previous -1</button>
<button (click)="nextCharacter()">Next +2</button>

<div class="card-wrapper">
@if (characters$ | async; as characters) {
  @for (character of characters; track character.name) {
    <app-character-card [character]="character"></app-character-card>
  }
}
</div>

<hr>
<div class="card-wrapper">
@if (location$ | async; as location) {
  <div>
    Name: {{ location.name }}<br>
    Type: {{ location.type }}<br>
    Dimension: {{ location.dimension }}<br>    
  </div>
}
</div>
