
<button (click)="previousCharacter()">Previous -1</button>
<button (click)="nextCharacter()">Next +2</button>

<div class="card-wrapper">
@if (characters$ | async; as characters) {
  @for (character of characters; track character.name) {
    <app-character-card [character]="character"></app-character-card>
  }
}
</div>

<hr>
<div class="card-wrapper">
@if (location$ | async; as location) {
  <div>
    Name: {{ location.name }}<br>
    Type: {{ location.type }}<br>
    Dimension: {{ location.dimension }}<br>    
  </div>
}
</div>

<hr>

<app-list-locations></app-list-locations>