// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Atma, 'Helvetica Neue', sans-serif;
}

@font-face {
  font-family: 'Get Schwifty';
  src:
    url('assets/fonts/GetSchwifty-Regular.woff2') format('woff2'),
    url('assets/fonts/GetSchwifty-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --rick-pink: #c19db1;
  --morty-white: #fcfcfd;
  --rick-brown: #724b45;
  --morty-green: #92b06a;
  --rick-black: #1f1d20;
  --morty-coral: #ce6775;
  --rick-teal: #3e5a5a;
  --morty-lime: #e3e65c;
  --mat-card-title-text-font: 'Get Schwifty', sans-serif;
  --mat-paginator-container-text-font: 'Atma', Helvetica, sans-serif;
  --mat-form-field-container-text-font: 'Atma', Helvetica, sans-serif;
  --mat-form-field-filled-label-text-font: 'Atma', Helvetica, sans-serif;
  --mat-option-label-text-font: 'Atma', Helvetica, sans-serif;
  --mat-form-field-filled-container-text-font: 'Atma', Helvetica, sans-serif;
  --mat-autocomplete-container-text-font: 'Atma', Helvetica, sans-serif;
  --mat-card-subtitle-text-font: 'Atma', Helvetica, sans-serif;

  --mat-paginator-container-text-size: 24px;
  --mat-form-field-filled-container-shape: 0;
  --mat-autocomplete-container-shape: 0;
  --mat-form-field-container-shape: 0;
  --mat-form-field-filled-container-shape: 0;
  --mat-autocomplete-container-shape: 0;
  --mat-form-field-filled-container-color: var(--morty-lime);
  --mat-form-field-container-color: var(--morty-lime);
  --mat-autocomplete-container-color: var(--morty-lime);
  --mat-form-field-filled-label-text-color: var(--morty-black);
  --mat-autocomplete-background-color: var(--morty-coral);
  --mat-option-selected-state-layer-color: var(--morty-lime);
  --mat-sys-surface: var(--morty-white);
  --mat-option-label-text-color: var(--morty-white);
  --mat-card-elevated-container-color: var(--morty-lime);
  --mat-card-elevated-container-shape: 0;
  --mat-snack-bar-supporting-text-font: 'Atma', Helvetica, sans-serif;
  --mat-button-text-label-text-font: 'Get Schwifty', sans-serif;
  --mat-button-text-label-text-size: 22px;
}
